/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Pages */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;
}

.button {
  font-family: "PT Sans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #ffffff;
  z-index: 1;
}

.logo-nav__image {
  display: block;
  margin-bottom: -6px;
  width: 140px;
  height: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrap {
  display: flex;
  justify-content: flex-start;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 43px;
  padding: 0;
  max-width: 400px;
  list-style: none;
}

.navigation-list__item {
  padding: 12px 0;
}

.navigation-list__item--active {
  position: relative;
}

.navigation-list__item:not(:last-child) {
  margin-right: 33px;
}

.navigation-list__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-list__link:hover,
.navigation-list__link:focus-visible {
  color: #756157;
}

.navigation-list__link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-list__link--active::after {
  position: absolute;
  content: '';
  top: 55px;
  left: 0;
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.navigation-list__link-catalog--active::after {
  position: absolute;
  content: '';
  top: 55px;
  left: 0;
  width: 93px;
  height: 2px;
  background-color: #756257;
}

.user-list {
  max-width: 356px;
}

.user-list__item:not(:last-child) {
  padding: 10px;
}

.item-search {
  margin-right: 4px;
}

.item-heart {
  margin-right: 22px;
}

.user-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list__link:hover path,
.user-list__link:focus path {
  fill: #756157;
}

.user-list__link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.user-list__link-search {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-list__link-heart {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-list__link-heart-number {
  position: absolute;
  content: '';
  top: -11px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.user-list__link-heart-number:hover {
  background-color: rgba(125, 181, 79, 0.8);
}

.user-list__link-heart-number:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(125, 181, 79, 0.3);
}

.user-list__button {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.user-list__button:hover,
.user-list__button:focus-visible {
  background-color: #615048;
}

.user-list__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}
/* Main */

.main-page {
  flex-grow: 1;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Hero */

.hero-image-wrap {
  min-height: 485px;
  background-image: url(../images/main/hero-bottom-base.svg) ,url(../images/main/hero-background.jpg);
  background-color: #846259;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

.hero-image-wrap__title {
  padding-top: 51px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.hero-wrap {
  width: 651px;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 90px;
  padding: 0;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.hero-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/* Advantages */

.advantages {
  margin: 0;
  margin-bottom: 65px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1200px;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
}

.advantages-list__item {
  color: #000000;
  background-color: #e6f0f6;
}

.advantages-list__item:nth-child(even) {
  background-color: #f0f6fa;
}

.advantages-list__item.advantages-item-wide {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide {
  grid-column: 1 / -1;
}

.advantages-list__item-wrap {
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 102px 85px;
}

.advantages-list__item-wrap-wide {
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 102px 85px;
}

.advantages-list__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list__item-wrap-narrow {
  padding: 113px 85px 102px 85px;
}

.advantages-list__subtitle::after {
  position: absolute;
  content: '';
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
}

.advantages-list__subtitle-wide::after {
  background-color: #ffffff;
}

.advantages-list__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list__image {
  display: block;
}

/* Services */

.services {
  margin-bottom: 95px
}

.services-title-wrap {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0;
}

.services-title,
.advantage-title,
.search-title,
.subscribe__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.services-title {
  margin-bottom: 20px;
}

.services-text,
.search-text,
.subscribe__text{
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list__item {
  background-color: #f0f6fa;
}

.services-list__item:nth-child(even) {
  background-color: #ffffff;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 81px 85px 81px 85px;
}

.advantage::before {
  content: '';
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

.advantage:last-child::before {
  margin-bottom: 28px;
}

.advantage-house::before {
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/advantage-house-icon.svg");
}

.advantage-food::before {
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/advantage-food-icon.svg");
}

.advantage-gifts::before {
  width: 75px;
  height: 76px;
  background-image: url("../images/icons/advantage-gift-icon.svg");
}

.advantage-title {
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 28px;
}

.advantage-text {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Search */

.search {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 96px;
  padding: 0;
}

.search-wrap {
  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  display: inline-block;
  margin: 0;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px
}

.search-button:hover,
.search-button:focus-visible {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/* Subscribe */

.subscribe {
  display: block;
  width: 100%;
  min-height: 415px;
  margin: 0;
  padding: 0;
  background-image: url("../images/main/subscribe-background.jpg");
  background-color: #846259;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-subscribe {
  background-color: #ffffff;
  background-image: none;
}

.subscribe-wrap {
  margin: 0 auto;
  padding: 96px 258px 104px 258px;
}

.subscribe__title {
  margin-bottom: 20px;
  color: #ffffff;
}

.subscribe__title-catalog {
  color: #000000;
}

.subscribe__text {
  margin-bottom: 54px;
  color: #ffffff;
}

.subscribe__text-catalog {
  color: #333333;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.subscribe__email-adress {
  width: 452px;
  margin: 0;
  padding: 17px 20px 12px 20px;
  font-size: 17px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe__button {
  margin: 0;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe__button:hover,
.subscribe__button:focus-visible {
  background-color: #68a2ca;
}

.subscribe__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.subscribe__button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 45px 70px 30px 70px;
  list-style: none;
  background-color: #ffffff;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.social-list__link:hover path,
.social-list__link:focus-visible path {
  fill: #68a2ca;
}

.social-list__link:active path {
  fill: #d2e3ef;
}

.footer__contacts-phone-link {
  margin: 0;
  margin-top: 2px;
  margin-left: 1px;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer__contacts-phone-link:hover,
.footer__contacts-phone-link:focus-visible {
  color: #756157;
}

.footer__contacts-phone-link:active {
  color: #d6d0cd;
}

.footer__logo-link {
  display: flex;
}

.footer__logo-link:hover path,
.footer__logo-link:focus-visible path {
  fill: #756157;
}

.footer__logo-link:active path {
  fill: #d6d0cd;
}

/* Modal */

.modal-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(242, 242, 242, 0.8);
}

.search-form-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 717px;
  margin-top: 57px;
  margin-right: 23px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-conteiner.is-open {
  display: flex;
  z-index: 5;
}

.search-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 64px 70px;
}

.search-form__title {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-form__button-close {
  position: absolute;
  content: '';
  top: 64px;
  right: 52px;
  width: 53px;
  height: 53px;
  background-image: url("../images/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f2f2f2;
  outline: none;
}

.search-form__button-close:hover {
  background-color: #e6e6e6;
}

.search-form__button-close:focus-visible {
  border: 3px solid #83b3d3;
}

.search-form__button-close:active {
  border: none;
  opacity: 0.3;
}

.search-form__label-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.search-form__label-visitors {
  display: flex;
  justify-content: space-between;
  gap: 88px;
  margin-bottom: 48px;
}

.search-form__label,
.search-form__input {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.search-form__label {
  font-weight: 700;
}

.search-form__input {
  padding: 13px 30px 7px 30px;
  font-size: 17px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}

.search-form__input:hover,
.search-form__input:focus-within {
  background-color: #e6e6e6;
}

.label-check-in,
.label-check-in-date {
  margin-right: 24px;
}

.input-check-in-date,
.input-departure-date {
  width: 440px;
}

.label-wrap {
  position: relative;
}

.label-wrap::after {
  position: absolute;
  content: '';
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/icon-date.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  pointer-events: none;
}

.search-form__input-wrap {
  position: relative;
}

.search-form__button-minus {
  position: absolute;
  content: '';
  top: 11px;
  left: 10px;
  margin: 0;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-form__button-minus::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 3px;
  width: 14px;
  height: 2px;
  margin: 0;
  padding: 0;
  background-color: #cdc7c4;
  border: none;
  cursor: pointer;
}

.search-form__button-plus {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-form__button-plus::before {
  position: absolute;
  content: '';
  top: 10px;
  right: 0;
  width: 14px;
  height: 2px;
  margin: 0;
  padding: 0;
  background-color: #cdc7c4;
  border: none;
  cursor: pointer;
}

.search-form__button-plus::after {
  position: absolute;
  content: '';
  top: 4px;
  left: 11px;
  width: 2px;
  height: 14px;
  margin: 0;
  padding: 0;
  background-color: #cdc7c4;
  border: none;
  cursor: pointer;
}

.search-form__button-minus:hover::before,
.search-form__button-minus:focus::before,
.search-form__button-plus:hover::before,
.search-form__button-plus:focus::before,
.search-form__button-plus:hover::after,
.search-form__button-plus:focus::after {
  background-color: #000000;
}

.search-form__button-minus:active::before,
.search-form__button-plus:active::before,
.search-form__button-plus:active::after {
  background-color: #cccccc;
}

.label-adults {
  margin-right: 46px;
}

.label-kids {
  position: relative;
  margin-right: 83px;
}

.label-kids-icon {
  position: absolute;
  content: '';
  top: 0;
  left: 59px;
  width: 26px;
  height: 26px;
  margin-right: 0;
  background-image: url('../images/icons/tooltip-icon.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.label-kids-icon:hover + .label-kids-tooltip {
  display: block;
}

.label-kids-icon:hover + .label-kids-tooltip::after {
  display: block;
}

.label-kids-tooltip {
  position: absolute;
  display: none;
  top: 42px;
  left: -56px;
  width: 256px;
  margin: 0;
  padding: 21px 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1;
}

.label-kids-tooltip::after {
  position: absolute;
  display: none;
  content: '';
  top: -8px;
  left: 117px;
  width: 19px;
  height: 19px;
  background-color: #333333;
  transform: rotate(45deg);
}

.input-adults,
.input-kids {
  width: 110px;
  line-height: 18px;
  text-align: center;
}

.search-form__comment-error,
.search-form__comment-correct {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.search-form__comment-error {
  margin-left: 15px;
  color: #ff5757;
  text-align: center;
}

.search-form__comment-correct {
  margin-right: 89px;
  text-align: end;
}

.search-form__button {
  padding: 18px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-form__button:hover,
.search-form__button:focus-visible {
  background-color: #68a2ca;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.search-form__button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

/* Catalog */

.catalog-page {
  background-color: #ffffff;
}

.catalog-form-wrap {
  display: block;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  background-image: url("../images/catalog/filter-background.jpg");
  background-color: #846259;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Catalog-header*/

.catalog-header {
  margin: 0;
  margin-bottom: 40px;
  padding: 35px 70px 0 70px;
}

.catalog-header__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs::before {
  position: absolute;
  content: '';
  top: 1px;
  left: 24px;
  width: 8px;
  height: 16px;
  background-image: url("../images/icons/catalog-breadcrumbs-icon.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:first-child {
  margin-right: 28px;
  margin-bottom: 5px;
}

.breadcrumbs__link {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__link-icon {
  width: 15px;
  height: 15px;
}

.breadcrumbs__link-icon:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link-icon:focus path {
  fill: #ffffff;
}

.breadcrumbs__link-icon:active path {
  fill: rgba(255, 255, 255, 0.3);
}

/* Filter*/

.filter {
  margin: 0;
  padding: 0 70px 73px 70px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 140px;
  margin: 0;
  padding: 0;
}

.catalog-filter-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-label-wrap {
  display: flex;
  gap: 2px;
  margin-right: 1px;
  margin-bottom: 42px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(3n) {
  margin-left: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.catalog-filter-input {
  background-color: #f2f2f2;
  cursor: pointer;
}

.catalog-filter-input:hover,
.catalog-filter-input:focus-visible {
  background-color: #e6e6e6;
}

.catalog-filter-label-from-wrap,
.catalog-filter-label-before-wrap {
  position: relative;
}

.label-from {
  position: absolute;
  content: '';
  top: 12px;
  right: 18px;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9;
}

.label-before {
  position: absolute;
  content: '';
  top: 12px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9;
}

.control-label {
  position: relative;
  display: block;
  max-width: 150px;
  margin: 0;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.control-label:hover .control-mark {
  opacity: 0.6;
}

.control-label:focus-visible .control-mark {
  border: 3px solid #83b3d3;
}

.control-label:active .control-mark {
  opacity: 0.3;
}

.control-label-text {
  color: inherit;
}

.control-label:hover .control-label-text {
  opacity: 0.6;
}

.control-label:active .control-label-text {
  opacity: 0.3;
}

.control-checkbox:disabled ~ .control-label-text,
.control-checkbox:hover:disabled ~ .control-label-text {
  color: #9bb9b1;
  box-shadow: none;
}

.control-checkbox:disabled ~ .control-mark,
.control-checkbox:hover:disabled ~ .control-mark {
  background-color: #99b6d1;
  box-shadow: none;
}

.control-checkbox[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 12px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-image: url("../images/icons/checkbox-icon.svg");
  background-repeat: no-repeat;
}

.control-checkbox[type="checkbox"]:checked:focus + .control-mark,
.control-checkbox[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-radio[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-radio[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #3f5e72;
  border-radius: 50%;
}

.control-radio[type="radio"]:checked:not(:disabled) + .control-mark::before {
  background-color: #537893;
}

.control-radio[type="radio"]:checked:focus + .control-mark,
.control-radio[type="radio"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-radio[type="radio"]:checked:active + .control-mark::before {
  opacity: 0.3;
}

.control-radio:disabled ~ .control-label-text,
.control-radio:hover:disabled ~ .control-label-text {
  color: #9bb9b1;
  box-shadow: none;
}

.control-radio:disabled ~ .control-mark,
.control-radio:hover:disabled ~ .control-mark {
  background-color: #99b6d1;
  box-shadow: none;
}

.control-radio:checked:disabled ~ .control-mark::before, .control-radio:hover:disabled ~ .control-mark::before {
  background-color: #698bab;
}

.control-text {
  width: 143px;
  margin: 0;
  padding: 13px 42px 11px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border: none;
}

.control-text::placeholder {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #a9a9a9;
}

.control-from {
  border-radius: 4px 0 0 4px;
}

.control-before {
  border-radius:  0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #5f686d;
}

.range-bar {
  position: absolute;
  top: 2px;
  right: 61px;
  width: 221px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);;
}

.toggle-min {
  top: -8px;
  left: -5px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog-filter-button {
  margin: 0;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-apply {
  margin-top: 56px;
  margin-bottom: 29px;
  border: none;
  border-radius: 4px;
  background-color: #82b3d3;
}

.button-apply:hover,
.button-apply:focus {
  background-color: #68a2ca;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-apply:disabled {
  background-color: #e5e5e5;
}

.button-reset {
  background-color: transparent;
  border: 0;
}

.button-reset:hover,
.button-reset:focus-visible {
  color: #b8c4c7;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

/* Сatalog-cards */

.catalog-cards {
  padding: 0 70px;
}

.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.cards-result {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.select {
  display: flex;
  align-items: center;
}

.select-control-wrap {
  position: relative;
}

.select-control {
  width: 292px;
  margin: 0;
  margin-right: 70px;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control-wrap::after {
  position: absolute;
  content: '';
  top: 22px;
  right: 90px;
  width: 12px;
  height: 8px;
  background-image: url("../images/icons/select-icon.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.select-view-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 170px;
  list-style: none;
}

.select-view-list__item:not(:last-child) {
  margin-right: 8px;
}

.elect-view-list__item {
  margin-right: 0;
}

.select-button {
  display: block;
  padding: 22px;
  background-size: 18px 14px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.button-view-tile {
  background-image: url("../images/icons/view-tile-icon.svg");
}

.button-view-card {
  background-image: url("../images/icons/view-mode-icon.svg");
}

.button-view-list {
  background-image: url("../images/icons/view-list-icon.svg");
}

.select-button:hover {
  border: 2px solid #000000;
}

.select-button:focus-visible {
  border: 2px solid #68a2ca;
}

.select-button:active {
  border: 2px solid #000000;
}

.button-active {
  margin: 0 0 2px 1px;
  border: 2px solid #000000;
}

.cards-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  width: 100%;
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
  list-style: none;
}

.cards-list:after {
  position: absolute;
  content: '';
  bottom: -40px;
  left: 0;
  width: inherit;
  height: 1px;
  background-color: #e6e6e6;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 20px;
  color: #333333;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-image {
  display: block;
  padding: 0;
  width: 300px;
  min-height: 212px;
  object-fit: cover;
}

.card-image:hover {
  opacity: 0.8;
}

.card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.card-title {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.card-title:hover {
  color: #756157;
}

.card-title:active {
  color: rgba(117, 97, 87, 0.3);
}

.card-price {
  text-align: right;
}

.card-details {
  display: inline-block;
  margin: 0;
  padding: 8px 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.card-details:hover,
.card-details:focus-visible {
  background-color: #615048;
}

.card-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.card-button {
  display: block;
  margin: 0;
  padding: 8px 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-button:hover,
.card-button:focus-visible {
  background-color: #68a2ca;
}

.card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.card-button-selected {
  padding: 8px 10px;
  background-color: #7db54f;
}

.card-button-selected:hover,
.card-button-selected:focus-visible {
  background-color: #6c9e42;
}

.card-button-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.card-star-rating {
  height: 17px;
  align-self: center;
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: space;
}

.rating-four-stars {
  width: 89px;
}

.rating-three-stars {
  width: 68px;
}

.rating-two-stars {
  width: 42px;
}

.card-rating {
  display: inline-block;
  grid-column: -2 / -1;
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 11px 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: #a7cae0;
}

.pagination-link-active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-active:hover,
.pagination-link-active:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-ellipses {
  color: #000000;
  background-color: transparent;
}

.pagination-link-ellipses:hover,
.pagination-link-ellipses:active {
  color: #000000;
  background-color: transparent;
}
