/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Pages */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;
}

.button {
  font-family: "PT Sans";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #ffffff;
  z-index: 1;
}

.logo-nav__image {
  display: block;
  margin-bottom: -6px;
  width: 140px;
  height: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrap {
  display: flex;
  justify-content: space-between;
  width: 507px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list__item {
  padding: 6px 0;
}

.navigation-list__item--active {
  position: relative;
}

.navigation-list__item:not(:last-child) {
  margin-right: 32px;
}

.navigation-list__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-list__link--active::after {
  position: absolute;
  content: '';
  top: 49px;
  left: 0;
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.navigation-list__link-catalog--active::after {
  position: absolute;
  content: '';
  top: 49px;
  left: 0;
  width: 93px;
  height: 2px;
  background-color: #756257;
}

.user-list__item:not(:last-child) {
  margin-right: 4px;
}

.user-list__item:last-child {
  margin-left: 18px;
}

.user-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.user-list__link-heart {
  position: relative
}

.user-list__link-heart::after {
  position: absolute;
  content: '12';
  top: 0;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-family: PT Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.user-list__button {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

/* Main */

.main-page {
  flex-grow: 1;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Hero */

.hero-image-wrap {
  min-height: 485px;
  background-image: url(../images/main/hero-bottom-base.svg) ,url(../images/main/hero-background.jpg);
  background-color: #846259;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

.hero-image-wrap__title {
  padding-top: 51px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.hero-wrap {
  width: 651px;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 69px;
  padding: 0;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.hero-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/* Advantages */

.advantages {
  margin: 0;
  margin-bottom: 96px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 385px);
  width: 1200px;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
}

.advantages-list__item {
  color: #000000;
  background-color: #e6f0f6;
}

.advantages-list__item:nth-child(even) {
  background-color: #f0f6fa;
}

.advantages-list__item.advantages-item-wide {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide {
  grid-column: 1 / -1;
}

.advantages-list__item-wrap {
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 102px 85px;
}

.advantages-list__item-wrap-wide {
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 102px 85px;
}

.advantages-list__subtitle {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list__image {
  display: block;
}

/* Services */

.services-title-wrap {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0;
}

.services-title,
.advantage-title,
.search-title,
.subscribe__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.services-title {
  margin-bottom: 20px;
}

.services-text,
.search-text,
.subscribe__text{
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list__item {
  background-color: #f0f6fa;
}

.services-list__item:nth-child(even) {
  background-color: #ffffff;
}

.advantage {
  width: 400px;
  margin: 0;
  padding: 81px 85px 81px 85px;
}

.advantage-image-wrap {
  margin-bottom: 30px;
  text-align: center;
}

.advantage-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
}

.advantage-text {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Search */

.search {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 96px;
  padding: 0;
}

.search-wrap {
  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  display: inline-block;
  margin: 0;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px
}

/* Subscribe */

.subscribe {
  display: block;
  width: 100%;
  min-height: 415px;
  margin: 0;
  padding: 0;
  background-image: url("../images/main/subscribe-background.jpg");
  background-color: #846259;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-subscribe {
  background-color: #ffffff;
  background-image: none;
}

.subscribe-wrap {
  margin: 0 auto;
  padding: 96px 258px 104px 258px;
}

.subscribe__title {
  margin-bottom: 20px;
  color: #ffffff;
}

.subscribe__title-catalog {
  color: #000000;
}

.subscribe__text {
  margin-bottom: 54px;
  color: #ffffff;
}

.subscribe__text-catalog {
  color: #333333;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.subscribe__email-adress {
  width: 452px;
  margin: 0;
  padding: 14px 345px 14px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe__button {
  margin: 0;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  list-style: none;
  background-color: #ffffff;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer__contacts-phone-link {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* Catalog */

.catalog-page {
  background-color: #ffffff;
}

.catalog-form-wrap {
  display: block;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  background-image: url("../images/catalog/filter-background.jpg");
  background-color: #846259;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Catalog-header*/

.catalog-header {
  margin: 0;
  margin-bottom: 40px;
  padding: 35px 70px 0 70px;
}

.catalog-header__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item:first-child {
  margin-right: 28px;
}

.breadcrumbs__link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

/* Filter*/

.filter {
  margin: 0;
  padding: 0 70px 70px 70px;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 150px 0 288px 191px;
  grid-template-rows: 24px 101px;
  gap: 32px 70px;
  /*display: flex;
  justify-content: space-between;*/
  margin: 0;
  padding: 0;
}

.catalog-filter-label-wrap {
  grid-row: 1 / 3;
  grid-column: -3 / -2;
  /*display: flex;
  justify-content: center;*/
  margin-bottom: 36px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(3n) {
  margin-left: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.control-label {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
}

.control-text {
  width: 143px;
  margin: 0;
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.control-text::placeholder {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #a9a9a9;
}

.control-from {
  border-radius: 4px 0 0 4px;
}

.control-before {
  border-radius:  0 4px 4px 0;
}

.control-range {
  width: 288px;
}

.catalog-filter-button-wrap {
  grid-row: -2 / -1;
  grid-column: -2 / -1;
  /*display: flex;
  flex-direction: column;*/
  justify-content: flex-end;
}

.catalog-filter-button {
  margin: 0;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  cursor: pointer;
}

.button-apply {
  margin-bottom: 36px;
  border: none;
  border-radius: 4px;
}

.button-reset {
  background-color: transparent;
  border: 0;
}

/* Ð¡atalog-cards */

.catalog-cards {
  padding: 0 70px;
}

.cards-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.cards-result {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.select {
  display: flex;
  align-items: center;
}

.select-control {
  width: 292px;
  margin: 0;
  margin-right: 70px;
  padding: 14px 20px;
  text-align: left;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-view-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.select-view-list__item:not(:last-child) {
  margin-right: 8px;
}

.elect-view-list__item {
  margin-right: 0;
}

.select-button {
  display: block;
  padding: 11px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}


.button-view-tile {
  border: 2px solid #000000;
}

.card {
  width: 340px;
  margin: 0;
  padding: 20px;
  color: #333333;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: repeat(2, 438px);
  grid-gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.card-image {
  display: block;
  margin-bottom: 16px;
  padding: 0;
  width: 300px;
  min-height: 212px;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.card-text-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-text {
  display: block;
}

.card-price {
  display: block;
}

.card-button-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-details {
  display: inline-block;
  margin: 0;
  padding: 8px 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.card-button {
  display: block;
  margin: 0;
  padding: 8px 20px;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-button-selected {
  background-color: #7db54f;
}

.card-rating-wrap {
  display: flex;
  justify-content: flex-end;
}

.card-rating {
  display: inline-block;
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

/* Pagination */

.pagination {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  /*width: 60px;*/
  margin-right: 8px;
  /*padding: 11px 18px;
  text-align: center;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;*/
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 11px 18px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.pagination-link-active {
  color: #000000;
  background-color: #f2f2f2;

}

.pagination-link-ellipses {
  color: #000000;
  background-color: transparent;
}
